<h1>All Questions</h1>

<a href="/questions/new">Post a new question</a>


<ul>
    {{#each questions}}
    <li>
        <h3>Topic: <a href = '/questions/{{this.id}}'>{{this.title}}</a> </h3> 
        <ul>
            <li>
                <p>Question: {{this.description}}</p>
            </li>
             <li>
                <p>Owner: {{this.owner}}</p>
            </li>
            <li>
                <p>Date Posted: {{this.date}}</p>
            </li>
            <li>
                <p>Number of Answers: {{this.answers.length}}</p>
            </li>
        </ul>
    </li>
    {{/each}}
</ul>