<h1>{{this.title}}</h1>

<p>Date Posted: {{this.date}}</p>

<h2>Question:</h2>
<p>{{this.description}}</p>

<h2>Answers Below</h2>
<ul>
    {{#each this.answers}}
    <li>
     {{this.answerText}}
        <ul>
            <li>
            {{this.responder}}
            </li>
            <li>
            {{this.dateAnswer}}
            </li>
        </ul>
    </li>
    {{/each}}
</ul>



<form action = "/questions/{{this.id}}?_method=put" method = "POST">
<p>
    <label for="answer">Answer</label>
    <input type="text" name = "answer">
</p>
<input type = "submit" value = "Update">
</form>
<form action="/questions/{{id}}?_method=delete" method="POST">
    <input type="submit" value="Delete">
</form>