<h1>{{this.title}}</h1>

<p>{{this.description}}</p>

<ul>
    {{#each this.answer}}
    <li>
     {{this}}
    </li>
    {{/each}}
</ul>

<p>{{this.date}}</p>


<a href="/questions/edit/{{id}}">Post an answer</a>