<h1>{{this.title}}</h1>

<p>Date Posted: {{this.date}}</p>

<h2>Question:</h2>
<p>{{this.description}}</p>

<h2>Answers Below</h2>
<ul>
    {{#each this.answer}}
    <li>
     {{this}}
    </li>
    {{/each}}
</ul>




<a href="/questions/edit/{{id}}">Post an answer</a>

<form action="/questions/{{id}}?_method=delete" method="POST">
    <input type="submit" value="Delete">
</form>